@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&display=swap');

html, body{
    width:100%;
    margin: 0;
}

.hotbar {

    margin-top: 5vh;
    height: 4vw;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffe7b8;

}

.logo {

    height: 250%;
    margin-left: 10vh; margin-right: 10vh;

}

.taskbar-button {
    
    appearance: none;
    text-align: center;
    margin-left: 6vh; margin-right: 6vh;
    width: 10%;
    height: 50%;
    border: 0;
    background-color: #ffe7b8;
    font-family: Kanit;
    font-size: clamp(15px, 1.2vw, 40px);
    letter-spacing: -1px;
    transition:all 0.2s ease 0s;
    
}

.taskbar-button:hover {

    color: #ff914d;
    transform: translateY(-4px);

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: Kanit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 22px;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.heading {

    margin-top: 10vh;
    text-align: center;
    font-size: 3rem;
    font-family: kanit;
}
