.name {

    margin-top: img.background h;
    color: orange;
    font-style: bold;
    font-size: 500%;
    text-align: center;
    animation-name: slideFromTop;
    animation-duration: 1s; 

}

.background {

    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width:60%;
    margin: 20%; margin-top: 0%; margin-bottom: 0%;
    opacity: 60%; 
    z-index: -1;

}




@keyframes slideFromTop{

    0%{
    transform: translateY(-250px);
    
    }

    75%{
    transform: translateY(20px);

    }

    100% {
    transform: translateY(0px);
    
    }
}